<%= form_for companion do |f| %>
  <% if companion.errors.any? %>
    <div class="error-message">
      <%= companion.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <%= f.text_field(:name)   %>
  <%#= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn-secondary" %>
<% end %>