<main class="container">
  <%= link_to sanitize("&larr; Back to companions"), companions_path %>

  <div class="header">
    <h1>Edit companion</h1>
  </div>

  <%= render "form", companion: @companion %>
</main>