<div class="quote">
  <%= link_to hero.name, hero_path(hero) %>
  <div class="quote__actions">
    <%= button_to "Delete",
                  hero_path(hero),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_hero_path(hero),
                class: "btn btn--light" %>
  </div>
</div>