<main class="container">
  <div class="header">
    <h1>Heroes</h1>
    <%= link_to "New hero",
                new_hero_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @heroes %>
</main>